<!DOCTYPE html>
<html>
    <head>
            <title>J Food Blogger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    </head>
    <body>
    <nav>
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" >J Food Blogger</a>
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                          <form action="/j_foods" method="GET" class="form-inline" id="j_food-search">
                                <div class="form-group">
                                    <input type="text" name="search" placeholder="Post search..." class="form-control searchBar">
                                    <input type="submit" value="Search" class="btn btn-default searchBar">
                                </div>
                          </form>
                      </li>
                      <% if(!currentUser){ %>
                          <li><a href="/login">Login</a></li>
                          <li><a href="/register">Sign Up</a></li>
                     <% } else { %>
                          <li><a href="/users/<%=currentUser.id %>">Signed In as <%= currentUser.username %></a></li>
                          <li><a href="/logout">Logout</a></li>
                     <% } %>
                </ul>  
             </div>
            </div>
        </div>
    </nav>
    <div class="container">
       <% if(error && error.length > 0) { %>
         <div class="alert alert-danger"><p><%=error %></p></div>
       <% } %>
       
       <% if(success && success.length > 0) { %>
         <div class="alert alert-success"><p><%= success %></p></div>
       <% } %>
    </div>
    <div class="container">


        

