<% include ./partials/header %>
<div class="container">
    <h1>login</h1>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username"></input>
        <input type="password" name="password" placeholder="password"></input>
        <button>LOGIN</button>
    </form>
</div>


<% include ./partials/footer %>