<% include ./partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Sign Up</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/register" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" placeholder="username" minlength="4"
       maxlength="8" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" placeholder="password" minlength="4"
       maxlength="8" required>
                </div>
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input class="form-control" type="text" name="firstName" placeholder="first name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input class="form-control" type="text" name="lastName" placeholder="last name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="avatar">Avatar</label>
                    <input class="form-control" type="text" name="avatar" placeholder="avatar image url">
                </div>
                <div class="form-group">
                    <label for="adminCode">Admin Code [For admins only]</label>
                    <input class="form-control" type="text" name="adminCode" placeholder="Admin Code">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
                </div>
            </form>
            <a href="/j_foods" class="btn btn-primary">Go Back</a>
        </div>
    </div>
</div>
<% include ./partials/footer %>

