<% include ./partials/header %>
<div class=container>
    <h1>Sign Up Form</h1>
    <form action="/register" method="POST">
        <div>
            <input type="text" name="username" placeholder="username"></input>
        </div>
         <div>
        <input type="password" name="password" placeholder="password"></input>
        </div>
        <div>
        <button>Submit</button>
        </div>
    </form>
</div>


<% include ./partials/footer %>