/*Open landing.css and set the body's background-color to black*/
body {
  background-color: #000;
}

/*Now we need to position the welcome text and view all j_foods buton:*/
#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

/*We also need to change the h1 text color to white:*/
#landing-header h1 {
  color: #fff;
}

#landing-header h4 {
  color: #fff;
}

/*First we'll style the unordered list:*/
.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}


/*Now we can style all of the list items:*/
.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

/*Each list item needs a background-image and the last four need an animation-delay
(this way they all fire off one after the other in ten second intervals):*/
.slideshow li:nth-child(1) { 
  /*background-image: url(http://i.imgur.com/K3mPv14.jpg); */
  background-image: url(../images/sushi.jpg); 
}
.slideshow li:nth-child(2) { 
  background-image: url(../images/shishichef.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(../images/riceball.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(../images/lobster.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(../images/tsukemen.jpg);
  animation-delay: 40s; 
}

/*Now we can create the keyframes for the animation:*/
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer .container {
    margin-top: 15px;
}